<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/default.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>


    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="com.belkatechnologies" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>


</configuration>